/*INICIO*/
.comoTitulo{
    text-transform: uppercase;
    font-size: 2.4rem;
}

.comoItem{
    height: 15rem;
    width: 80%;
    box-shadow: $color-especial 1rem 1rem 1px;
}

.comoItemParrafo{
    font-size: 1.2rem;
}

.comoItemTitulo{
    text-transform: uppercase;
    font-weight: 800;
}

@media screen and (max-width: 767px){

    .comoItemTitulo{
        width: 100%;
        height: 100%;
    }

    .comoItemParrafo{
        display: none;
    }
}